.login-background {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #041e42;
}

.login-container {
    width: 412px;
}
@media (max-width: 768px) {
    .login-container {
        width: unset;
        max-width: 412px;
    }
}
