.MuiOutlinedInput-input {
    padding: 12px 14px !important;
    border: solid 1px #979797 !important;
    border-radius: 6px !important;
}

.MuiInputBase-input {
    font-size: 14px !important;
    font-weight: bold !important;
}

.MuiOutlinedInput-notchedOutline {
    border-color: #979797 !important;
    border-width: 0px !important;
}
