@font-face {
    font-family: 'Bogle';
    src: url('/fonts/Bogle-Bold.woff2') format('woff2'),
    url('/fonts/Bogle-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bogle';
    src: url('/fonts/Bogle-Regular.woff2') format('woff2'),
    url('/fonts/Bogle-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Bogle';
    background: #eeeeee;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.pr-20 {
    padding-right: 20px !important;
}

.left-card-margin {
    margin-left: -5px;
    margin-right: 5px;
}

.right-card-margin {
    margin-left: 5px;
    margin-right: -5px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.overlay-right-modal {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    transition: background-color .5s;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.not-display-in-mobile {
    display: unset;
}

.display-in-mobile-only {
    display: none;
}

.pointer {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.create-button-container {
    display: flex;
    align-items: center;
    float: right;
}

.create-new-button {
    padding: 7px 15px !important;
}

.icon-resize-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*mobile only*/
@media (max-width: 767px) {
    .create-new-button{
        padding: 4px 11px !important;
    }

    .not-display-in-mobile {
        display: none;
    }

    .display-in-mobile-only {
        display: unset;
    }

    .overlay-left-menu {
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 9;
        top: 0;
        left: 0;
        transition: background-color .5s;
        background-color: rgba(0, 0, 0, 0.4);
        cursor: pointer;
    }

    .left-card-margin {
        margin: 0 0 20px 0;
    }

    .right-card-margin {
        margin: 0;
    }

    .create-button-container {
        float: none;
    }
}

