.gallery-container-grid {
  grid-template-columns: auto auto auto;
  column-gap: 5px;
  display: grid;
  overflow: auto;
}

.banner-paragraph {
  margin-right: 5px;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .banner-paragraph  {
    font-size: 12px;
  }
}

